#main-navbar {
    background-color: #484848;
    color: white;
    z-index: 9999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 6px 0px;
    @media (max-width: 768px) {
      padding: 6px 16px;
    }
  
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  
    h2 {
      color: white;
    }
  
    img {
      height: 44px;
    }
  }
  