.wrapper {
  background: linear-gradient(#011A27,#094768) no-repeat center center;
  height: calc(100vh - 50px);
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}

h1 {
  color: rgb(207, 222, 243);
  font-weight: bold;
  font-size: 3vw;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}
